
<% if newemployee_signed_in? %>
                      <%= current_newemployee.email %>
                      
                     <div class="float:left"> <%= link_to "Log Out",destroy_newemployee_session_path,method:"delete" %></div>
                      <%else %>
                      <%= link_to "Log In",new_newemployee_session_path%>
                      <% end%>
         

           <%- model_class = Interview -%>
<div class="container">
	 <h1> Employee Schedule</h1>
<div class="page-header">
 <!--  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1> -->
</div>

 <table class="table table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:employee) %></th>
      <th><%= model_class.human_attribute_name(:student) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @interview.each do |interview| %>
      <tr>
        <td><%= link_to interview.id, interview_path(interview) %></td>
        <td><%= interview.date %></td>
        <td><%= interview.status %></td>
        <td><%= interview.employee %></td>
        <td><%= interview.student %></td>
        <td><%=l interview.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      interview_path(interview), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_interview_path(interview), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      interview_path(interview),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>