<%= form_with(model: newemail, local: true) do |form| %>
  <% if newemail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(newemail.errors.count, "error") %> prohibited this newemail from being saved:</h2>

      <ul>
      <% newemail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :newemail_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :newemail_email %>
  </div>

  <div class="field">
    <%= form.label :login %>
    <%= form.text_field :login, id: :newemail_login %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
